<div class="login-container">
  <div class="login-card">
    <div class="login-icon">
      <i class="fas fa-user"></i>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      />
    </div>

    <h2 class="login-title">LOGIN</h2>

    <form (ngSubmit)="login()" class="login-form">
      <!-- Campo DNI -->
      <div class="form-group">
        <div class="input-container">
          <i class="fas fa-id-card input-icon"></i>
          <input
            #dniInput
            type="text"
            class="form-control"
            [(ngModel)]="dni"
            name="dni"
            required
            maxlength="8"
            inputmode="numeric"
            pattern="[0-9]*"
            (input)="onDniInput($event)"
            placeholder="DNI"
          />
        </div>
        <div class="error-message" *ngIf="dniError">{{ dniError }}</div>
      </div>

      <!-- Campo Contraseña -->
      <div class="form-group">
        <div class="input-container">
          <i class="fas fa-lock input-icon"></i>
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required
            placeholder="Contraseña"
          />
          <!-- Icono del ojo corregido -->
          <i
            class="fas toggle-password"
            [class.fa-eye-slash]="hidePassword"
            [class.fa-eye]="!hidePassword"
            (click)="togglePasswordVisibility()"
            title="Mostrar u ocultar contraseña"
          ></i>
        </div>
      </div>

      <!-- Botón -->
      <button type="submit" class="login-button">
        <i class="fas fa-sign-in-alt"></i> Ingresar
      </button>

      <!-- Enlace de olvido de contraseña -->
      <div class="forgot-password">
        <a href="/dashboard/recuperar-controseña" class="forgot-link">¿Olvidaste tu contraseña? Haz clic aquí</a>
      </div>
    </form>
  </div>
</div>