<h2 mat-dialog-title>{{ receta.ID_Receta ? 'Editar Receta' : 'Nueva Receta' }}</h2>

<mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="saveReceta()">

    <mat-form-field appearance="fill">
      <mat-label>Nombre de la Receta</mat-label>
      <input matInput type="text" [(ngModel)]="receta.Nombre" name="Nombre" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput rows="2" [(ngModel)]="receta.Descripcion" name="Descripcion" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tiempo estimado (minutos)</mat-label>
      <input matInput type="number" [(ngModel)]="receta.Tiempo_preparacion" name="tiempo_estimado_minutos" required />
    </mat-form-field>

    <h3>🧂 Detalles de Receta</h3>

    <div *ngFor="let det of detalles; let i = index" class="detalle-item">
      <mat-form-field appearance="outline">
        <mat-label>Ingrediente</mat-label>
        <mat-select [(ngModel)]="det.ID_Insumo" name="ingrediente_id_{{i}}" required>
          <mat-option *ngFor="let ing of ingredientes" [value]="ing.ID_Insumo">
            {{ ing.Nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" [(ngModel)]="det.Cantidad" name="cantidad_requerida_{{i}}" required />
      </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Descripción de uso</mat-label>
        <input matInput type="text" [(ngModel)]="det.Uso" name="descripcion_uso_{{i}}" />
      </mat-form-field>

      <button mat-icon-button color="warn" type="button" (click)="removeDetalle(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <button mat-button type="button" color="primary" (click)="addDetalle()">
      <mat-icon>add</mat-icon> Agregar Ingrediente
    </button>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="saveReceta()">Guardar</button>
</mat-dialog-actions>
