<mat-card>

  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!loading">

    <!-- ID -->
    <ng-container matColumnDef="pedido_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let pedido">{{ pedido.pedido_id }}</td>
    </ng-container>

    <!-- Cliente -->
    <ng-container matColumnDef="cliente_id">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let pedido">{{ getNombreCliente(pedido.cliente_id) }}</td>
    </ng-container>

    <!-- Fecha / Hora -->
    <ng-container matColumnDef="fecha_hora">
      <th mat-header-cell *matHeaderCellDef>Fecha / Hora</th>
      <td mat-cell *matCellDef="let pedido">{{ formatFechaHora(pedido.fecha_pedido, pedido.hora_pedido) }}</td>
    </ng-container>

    <!-- Subtotal -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef>Subtotal</th>
      <td mat-cell *matCellDef="let pedido">{{ formatMoneda(pedido.subtotal) }}</td>
    </ng-container>

    <!-- Descuento -->
    <ng-container matColumnDef="monto_descuento">
      <th mat-header-cell *matHeaderCellDef>Descuento</th>
      <td mat-cell *matCellDef="let pedido">{{ formatMoneda(pedido.monto_descuento) }}</td>
    </ng-container>

    <!-- Total -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let pedido">{{ formatMoneda(pedido.total) }}</td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="estado_pedido">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let pedido">{{ pedido.estado_pedido }}</td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let pedido">
        <button mat-icon-button color="primary" (click)="viewDetallePedido(pedido.pedido_id)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePedido(pedido.pedido_id)">
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</mat-card>
