.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c62828;
  color: white;
  padding: 0 20px;
  height: 65px;
  transition: margin-left 0.3s ease;
}

/* Ajuste según sidebar */
:host-context(app-dashboard-layout) app-navbar {
  margin-left: 220px;
}

:host-context(app-dashboard-layout) app-navbar.sidebar-collapsed {
  margin-left: 60px;
}

.navbar img.header-img {
  width: 45px;
  height: 45px;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 25px;
  background-color: transparent;
}

.search-bar mat-icon {
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 14px;
  height: 60px;
  padding: 2px 6px;
  margin-left: 8px;
}

button {
  text-transform: none;
  margin: 0 6px;
  color: white;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.notification-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff3b30;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 50%;
}
