/* Estilo global para cuando 'mostrarUI' es true */
.main-layout {
  display: flex; /* Utilizamos flexbox para que el sidebar y el contenido estén en una fila */
  height: 100vh; /* Esto hace que el contenedor ocupe toda la altura de la pantalla */
}

.app-sidebar {
  width: 250px; /* Ajusta el tamaño del sidebar */
  background-color: #f4f4f4;
  height: 100%; /* Asegura que el sidebar ocupe toda la altura */
  position: fixed; /* Hace que el sidebar quede fijo */
}

.content-area {
  flex: 1; /* Hace que el contenido ocupe el resto del espacio */
  margin-left: 250px; /* Da espacio al lado del sidebar */
  padding: 20px; /* Espaciado dentro del contenido */
  height: 100%; /* Asegura que el contenido ocupe toda la altura */
  overflow-y: auto; /* Permite el scroll en el contenido */
}

/* Footer se mantendrá abajo, solo cuando 'mostrarUI' es true */
.app-footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
}
