<div class="iniciar-container">
  <!-- Imágenes de pizza decorativas -->
  <div class="pizza-images">
    <img src="/imgs/pizza1.png" alt="Pizza Slice" class="pizza top-left">
    <img src="/imgs/pizza2.png" alt="Pizza Slice" class="pizza top-right">
    <img src="/imgs/pizza3.png" alt="Pizza Slice" class="pizza bottom-left">
    <img src="/imgs/pizza4.png" alt="Pizza Slice" class="pizza bottom-right">
  </div>

  <!-- Decoraciones -->
  <div class="decorations">
    <img src="/imgs/bail1.png" alt="Basil Leaf" class="decor basil-top">
    <img src="/imgs/bail2.png" alt="Basil Leaf" class="decor basil-bottom">
    <img src="/imgs/tomate1.png" alt="Tomato" class="decor tomato-left">
    <img src="/imgs/tomate1.png" alt="Tomato" class="decor tomato-right">
  </div>

  <!-- Contenido principal -->
  <h1>Bienvenido</h1>
  <img src="/imgs/logo.png" alt="Logo Aita Pizza" class="logo-pizzeria">
  <h3 class="subtitulo">Te espera un<br>mundo de sabor</h3>

  <button mat-raised-button class="btn-custom" (click)="irMenu()">
    Iniciar Pedido
  </button>
</div>