table {
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

mat-card {
  padding: 20px;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

