/* Header */
.producto-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.producto-header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

/* Contenedor principal */
.producto-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .producto-container {
    flex-direction: column;
  }
}
