<div class="detalle-container">
  <img [src]="data.imagen" alt="{{ data.nombre }}" class="detalle-imagen" />

  <h2>{{ data.nombre }}</h2>
  <p class="precio">S/. {{ precioActual.toFixed(2) }}</p>

  <div class="tamanos-container" *ngIf="tamanos.length > 0; else cargandoTamanos">
    <div class="tamanos-pizza">
      <button *ngFor="let t of tamanos" class="boton-tamano"
        [class.boton-seleccionado]="tamanoSeleccionado?.ID_Tamano === t.ID_Tamano" (click)="seleccionarTamano(t)">
        <span class="texto-tamano">{{ t?.Tamano ? (t.Tamano | uppercase) : '' }}</span>
      </button>
    </div>
  </div>

  <ng-template #cargandoTamanos>
    <p class="cargando">Cargando tamaños...</p>
  </ng-template>


  <div class="cantidad">
    <button mat-mini-fab color="warn" (click)="decrementarCantidad()">−</button>
    <span>{{ cantidad }}</span>
    <button mat-mini-fab color="primary" (click)="incrementarCantidad()">+</button>
  </div>

  <div class="subtotal">
    <p><b>Subtotal:</b> S/. {{ (precioActual * cantidad).toFixed(2) }}</p>
  </div>

  <div class="acciones">
    <button mat-raised-button color="warn" (click)="cerrar()">Volver</button>
    <button mat-raised-button color="primary" (click)="agregarCarrito()">Agregar al carrito</button>
  </div>
</div>