<h2 mat-dialog-title>
  {{ usuario.id_usuario ? 'Editar Usuario' : 'Nuevo Usuario' }}
</h2>

<mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="saveUsuario()">

    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput type="text" [(ngModel)]="usuario.Correo" name="dni" required />
    </mat-form-field>

    <!-- Campo de contraseña solo si es nuevo -->
    <ng-container *ngIf="usuario.id_usuario === 0">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="usuario.Password" name="password" required />
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="fill">
      <mat-label>Nombre completo</mat-label>
      <input matInput type="text" [(ngModel)]="usuario.Perfil" name="nombre_completo" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select [(ngModel)]="usuario.Roll" name="rol" required>
        <mat-option value="A">ADMIN</mat-option>
        <mat-option value="E">EMPLEADO</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="usuario.Estado" name="estado" required>
        <mat-option value="A">Activo</mat-option>
        <mat-option value="I">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="saveUsuario()">Guardar</button>
</mat-dialog-actions>
