
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

// En custom-theme.scss
.estado-activo {
  background-color: #2ECC71 !important;
  color: white !important;
  
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
}

.estado-inactivo {
  background-color: #ef4444 !important;
  color: white !important;
  
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
}

/* QUITAR COMPLETAMENTE BORDES DEL CHIP */
.estado-activo,
.estado-inactivo {
  border: none !important;
  outline: none !important;
}

.status-chip {
  border: none !important;
  outline: none !important;
}

/* Forzar eliminación de bordes internos de Material */
.status-chip .mdc-evolution-chip__surface {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.mdc-evolution-chip__cell, 
.mdc-evolution-chip__action--primary {
  border: none !important;
}



// FILTROS DE ESTADO EN CUSTOM THEME
.filtro-todos {
  background-color: #3b82f6 !important;
  color: white !important;
  
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
}

.filtro-activos {
  background-color: #10b981 !important;
  color: white !important;
  
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
}

.filtro-inactivos {
  background-color: #ef4444 !important;
  color: white !important;
  
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
}

.filtro-default {
  background-color: #6b7280 !important;
  color: white !important;
  
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
}